<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Basics">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="com.Ashish.listeners.CustomListeners"/>
</listeners>
  <test thread-count="1" name="Login Test">
    <classes>
      <class name="com.Ashish.testcases.LoginTest"/>
    </classes>
  </test> 
  <test thread-count="1" name="Create Account Test">
    <classes>
      <class name="com.Ashish.testcases.CreateAccountTest"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
